<head>
    <title>Botkit Starter Kit</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <script>
        function clipboard(element) {
            var copyText = document.getElementById(element);
            copyText.select();
            document.execCommand("Copy");
        }
    </script>
</head>
