<div id="home">
    <div id="homepage_bot">
        <iframe id="botkit_client" src="/chat.html"></iframe>
    </div>

    <div id="welcome">
        <h1>I'm a bot!</h1>
        <p><a href="/chat.html">Make me full screen</a></p>
        <p><a href="/embed">Embed me in a web site</a></p>
        <p><a href="https://github.com/howdyai/botkit-starter-web">Starter Kit Documentation</a></p>
        <p><a href="https://botkit.ai/docs">Botkit SDK Documentation</a></p>
    </div>
</div>
<script src="/embed.js"></script>
<script>
  Botkit.boot({});
</script>
