<div id="home">
    <div id="homepage_bot">
        <iframe id="botkit_client" src="/chat.html"></iframe>
    </div>

    <div id="welcome">
        <h1>I'm a bot!</h1>
        <p>
            I am powered by <a href="https://botkit.ai">Botkit Studio</a>. To customize me, <a href="https://studio.botkit.ai/app/bots/{{bot.botkit_studio_id}}">access my dashboard here</a>.
        </p>

        <p><a href="/chat.html">Make me full screen</a></p>
        <p><a href="/embed">Embed me in a web site</a></p>

        <p><a href="#">Botkit Help Center</a></p>
    </div>
</div>
<script src="/embed.js"></script>
<script>
  Botkit.boot({});
</script>
