html,body {
    font-family: 'helvetica', sans-serif;
    margin:0;
    padding:0;
    background: #f0f0f0;
}
* {
    box-sizing: border-box;
}
#message_window {
    background: #f0f0f0;
    /*border: 2px solid #CCC;*/
    /*height: 500px;
    width: 320px;*/
    height: 50%;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
#message_window .disconnected {
    background: #FFFFCC;
    padding: 0.25rem;
}
#message_window.connected .disconnected {
    display: none;
}
#message_window section {
    flex-grow:  1;
    flex-direction: column-reverse;
    display: flex;
    overflow-y: auto;
}

#message_window section div div {
    margin: 0.25rem;
    clear: both;

}

#message_window footer {
    /*border-top: 1px solid #CCC;*/
}

#message_window form {
    display: flex;
    margin: 0;
    padding: 0.25rem;
}
#message_window footer input[type="text"] {
    flex-grow: 1;
    font-size: 1.25rem;
    font-size: 2rem;
    outline: none;
}

#message_window footer button {
    width: 50px;
    background: none;
    border: 0;
    cursor: pointer;
    background-color: blue;
    color: #FFFFFF; 
    font-weight: bold;
}

#message_template {
    display: none;
}

.message {
    padding: 1rem;
    background: #FFF;
    border-radius: 5px;
    width: auto;
    font-size: 2rem;
    display: inline-block;
    max-width: 75%;
}

.message p {
    margin-top: 0;
    margin-bottom: 0.5rem;
}

.message p:last-child {
    margin-bottom: 0;
}

.message.outgoing {
    float: right;
}

#message_replies {
    text-align: center;
}
#message_replies a {
    text-decoration: none;
    display: inline-block;
    margin: 0.5rem;
    border: 1px solid blue;
    border-radius: 16px;
    padding: 0.5rem 1rem;
}
